@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');

body{
    background-color: rgb(40, 26, 46) ;
    background-image: url("https://images.unsplash.com/photo-1498116069452-debf99cb30f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");  
    background-repeat: repeat;
    background-size: 100%;
    z-index: 0;
    padding: 25px;
}

.aboutus{
    display: inline-block;
    margin: 0; 
    text-align: center;
    height: 200px;
    width: 100%;
    padding-bottom: -100px;
    background-color: rgba(133, 133, 133, 0.664);
    z-index: 2;
    border-radius: 4px;
    color: rgb(249, 227, 250);
}
.text h1{
  font-family: 'Zilla Slab Highlight', cursive;
}

.text h3{
  font-family: 'Zilla Slab Highlight', cursive;
}

.text h4{
  font-family: 'Zilla Slab Highlight', cursive;
}

.logo{
    width: 9%;
    height: 9%;
    z-index: 5;
    margin-top: -50px;
    margin-left: 1500px;
}
.slideshow {
    position: relative;
    height: 100%;
    z-index: 1;
    height: 100px;
    width: 100px;
  }

  .slideshowContainer {
    position: relative;
    overflow: hidden;
    margin: 50px 0 75px;
    width: 100%;
    height: 500px;
    color: #af8c8c;
    font-family: 'Zilla Slab Highlight', cursive;
  }
  
  .imageSlides {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
  }
  
  /* add 'visible' class via Javascript */
  .visible {
    opacity: 1;
  }
  
  .slideshowArrow {
    font-size: 7em;
    color: rgba(238, 213, 213, 0.5);
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }
  
  .slideshowArrow:hover {
    opacity: 0.75;
  }
  
  #leftArrow {
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  #rightArrow {
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translate(50%, -50%);
  }
  
  .slideshowCircles {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .circle {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 2px rgba(255, 255, 255, 0.5);
    transition: 1s ease-in-out;
  }
  
  .dot {
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 2px rgba(255, 255, 255, 0.5);
  }
