.slideshow{
    margin-left: 500px;
    margin-top: 30px;
    height: 300px;
    width: 700px;
    margin-bottom: 120px;
    border-radius: 10%;

    background-image: url('http://lorempixel.com/200/200/city/9');
    width: 200px;
    height: 200px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
}